@use "./base.scss";

// put your custom CSS here!
img[alt$=">"] {
    float: right;
    width: 300px;
    margin: 15px;
}

img[alt$="<"] {
    float: left;
    width: 300px;
    margin: 15px;
}

img[alt$="><"] {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
    margin: auto;
    float: none !important;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

.external-embed.youtube,
iframe.pdf {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}